numpy
pandas
mlflow
scikit-learn
prophet
ruptures
matplotlib
pyodbc
pytest
pytest-cov
coverage
natsort
openpyxl
azure-common
azure-storage-blob
azure-storage-common
scikit-image
brisque
sklearn
datetime
Pillow
opencv-contrib-python